extends commons/header
include commons/mixins
block body-content
  -data = data || {}
    if errors
      ul
        for error in errors
          li= error.msg
    +headerTitle('STUDENT PROFILES')
      .content-body
        .row
          .col-12
            .card
              .card-header
                h3 Grade 6 
                a.heading-elements-toggle
                  i.la.la-ellipsis-v.font-medium-3
                .heading-elements
                  ul.list-inline.mb-0
                    li
                      a(data-action='collapse')
                        i.ft-minus
                    li
                      a(data-action='reload')
                        i.ft-rotate-cw
                    li
                      a(data-action='expand')
                        i.ft-maximize
                    li
                      a(data-action='close')
                        i.ft-x
              .card-content.collapse.show
                .card-body
                  p.card-text
                    | Click on the student's name to view his/her profile.
                  .table-responsive
                  if students.length
                    table.table.table-striped
                      thead
                        tr
                          th(scope='col') Username
                          th(scope='col') First Name
                          th(scope='col') Middle Name
                          th(scope='col') Last Name
                      tbody#students_table
                        each student in students
                          - const username = student.username
                          tr#accordion.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapse'+username)
                            td#username= username
                            td= student.first_name
                            td= student.middle_name
                            td= student.last_name
                          tr.hide-table-padding
                            td  
                            td(colspan='4')
                              div(id='collapse'+username).collapse.in.p-3
                                .row
                                  .col-2 Username
                                  .col-6=username
                                .row
                                  .col-2 First Name
                                  .col-6=student.first_name
                                .row
                                  .col-2 Last Name
                                  .col-6=student.last_name
                                if parents.length
                                  each parent in parents
                                    if username == parent.student_username
                                      .row
                                        .col-2 Father's Name
                                        .col-6=parent.father_name
                                if payments.length
                                  each payment in payments
                                    if username == payment.student_username
                                      .row
                                        .col-2 Payment Method
                                        .col-6=payment.payment_method
    +footer