extends commons/header
include commons/mixins
block body-content
  -data = data || {}
    if errors
      ul
        for error in errors
          li= error.msg
    +headerTitle('STUDENT PROFILES')
      .content-body
        .row
          .col-12
            .card
              .card-header
                h3 Grade 6 
                a.heading-elements-toggle
                  i.la.la-ellipsis-v.font-medium-3
                .heading-elements
                  ul.list-inline.mb-0
                    li
                      a(data-action='collapse')
                        i.ft-minus
                    li
                      a(data-action='reload')
                        i.ft-rotate-cw
                    li
                      a(data-action='expand')
                        i.ft-maximize
                    li
                      a(data-action='close')
                        i.ft-x
              .card-content.collapse.show
                .card-body
                  p.card-text
                    | Click on the student's name to view his/her profile.
                  .table-responsive
                    table.table.table-striped
                      thead
                        tr
                          th(scope='col') Username
                          th(scope='col') First Name
                          th(scope='col') Middle Name
                          th(scope='col') Last Name
                      tbody#students_table
                      if students == null
                        tr 
                          td(colspan='4' style='text-align: center') No result
                      else
                        each student in students
                          - const username = student.username
                          tr#accordion.accordion-toggle.collapsed(data-toggle='collapse' data-parent='#accordion' href='#collapse'+username)
                            td#username= username
                            td= student.first_name
                            td= student.middle_name
                            td= student.last_name
                          tr.hide-table-padding
                            td(colspan='4')
                              div(id='collapse'+username).collapse.in.p-2
                                .row
                                  #student_information.column.col-4
                                    h6.font-weight-bold Student Information
                                    .row
                                      .col-3 Full Name
                                      .col-6.text-dark=student.first_name + ' ' + student.middle_name + ' ' + student.last_name
                                    .row
                                      .col-3 Nickname
                                      .col-4.text-dark=student.nickname
                                    .row
                                      .col-3 Birthday
                                      .col-5.text-dark=student.birthday
                                    .row
                                      .col-3 Gender
                                      .col-3.text-dark=student.gender
                                    .row
                                      .col-5 Contact Number
                                      .col-7.text-dark=student.contact_number
                                    .row
                                      .col-3 Address
                                      .col-9.text-dark=student.address
                                  #parents_information.column.col-4
                                    h6.font-weight-bold Parents Information
                                    if parents.length
                                      each parent in parents
                                        if username == parent.student_username
                                          .row
                                            .col-5 Father's Name:
                                            .col-6.text-dark=parent.father_name
                                          .row
                                            .col-5 Email:
                                            .col-6.text-dark=parent.father_email
                                          .row
                                            .col-5 Contact Number:
                                            .col-6.text-dark=parent.father_contact_number
                                          .row
                                            .col-5 Address:
                                            .col-6.text-dark=parent.father_address
                                          br
                                          .row
                                            .col-5 Mother's Name:
                                            .col-6.text-dark=parent.mother_name
                                          .row
                                            .col-5 Email:
                                            .col-6.text-dark=parent.mother_email
                                          .row
                                            .col-5 Contact Number:
                                            .col-6.text-dark=parent.mother_contact_number
                                          .row
                                            .col-5 Address:
                                            .col-6.text-dark=parent.mother_address
                                  #payment_information.column.col-4
                                    h6.font-weight-bold Payment Information
                                    if payments.length
                                      each payment in payments
                                        if username == payment.student_username
                                          .row
                                            .col-5 Payment Method
                                            .col-5.text-dark=payment.payment_method
                                          .row
                                            .col-5 Payment Type
                                            .col-5.text-dark=payment.payment_type
                                          .row
                                            .col-5 Payment Status
                                            .col-5.text-dark=payment.payment_status
    +footer