extends layout

block content

  if registrations.length
    table.listing-table.table-dark.table-striped
      tr
        th Name
        th Email
      each registration in registrations
        tr
          td= registration.name
          td= registration.email

  else if students.length
    table.listing-table.table-dark.table-striped
      tr
        th First Name
        th Middle Name
        th Last Name
      each student in students
        tr
          td= student.first_name
          td= student.middle_name
          td= student.last_name        
  else 
    p No registrations yet :(